body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

/*
body {
	background: linear-gradient(-45deg, #ebad28, #473e3e, #3b3b3b);
	background-size: 400% 400%;
	animation: gradient 375s ease infinite;
	height: 100vh;
}
*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
a.dropdown-item.text-dark.nav-link {
  background: unset;
  text-decoration: none;
  text-underline-offset: 0px;
  text-decoration-thickness: 0px;
  transition: all 180ms linear;
}

a.dropdown-item.text-dark.nav-link:hover {
  background: unset;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
  /* text-transform: uppercase; */
}

.secreted button:after {
  color:black!important;
}
.form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after
{
  background-color: #f0ad4e!important;
  text-transform: uppercase!important;
  top:15px!important;
  
}
.form-floating>label,
#searchInput input{
  color: black !important;

}

.secrettodo #searchInput .form-floating>.form-control:focus~label::after,.secrettodo #searchInput .form-floating>.form-control:not(:placeholder-shown)~label::after
{
  top:15px!important;
  padding: 10px 25px!important;
  line-height: 1em!important;
  
}
#searchInput .form-floating>.form-control:focus~label,#searchInput .form-floating>.form-control:not(:placeholder-shown)~label,
#searchInput .form-floating>label:focus {
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 2;
  height: 100%;
  font-size: 160%;
  color: black!important;
  padding: 1rem 1.5rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: 0 solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
  padding: 10px 25px!important;
  line-height: 1em!important;
}


select option {
  margin: 40px;
  background: #f0ad4e!important;
  line-height: 1.4em!important;
  text-transform: uppercase!important;
  
  color: #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.tab-content input.form-control {
  color: black!importaNT;
}